@using bl.Models;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<bl.Models.AcctSetupModel>


@using (Html.BeginUmbracoForm<www.Controllers.AcctMngmntController>(Common.wwwAction.FormSubmit_LocationsManager))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.MemberId)
    @Html.HiddenFor(m => m.AccountId)



    <div class="grid-x grid-padding-x grid-padding-y">
        <div class="cell small-3">
            <div class="member-btn active">
                <div class="grid-x">
                    <div class="cell text-center">
                        <input type="radio" id="rbNewLocation" name="location" value="-1" />
                        <label for="rbNewLocation">New Location</label>
                    </div>
                </div>
            </div>
        </div>        
        @foreach (var location in Model.LstLocations.Where(x => x.IsBugoutBag == false))
        {
            //Create button name
            string btnName = ("rb" + location.Name).Replace(" ", "");

            <div class="cell small-3">
                <div class="member-btn">
                    <div class="grid-x">
                        <div class="cell text-center">
                            <br />
                            <input type="radio" id="@btnName" name="location" value="@location.LocationId" />
                            <label for="@btnName">@location.Name</label>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>



    <div class="grid-x grid-padding-x grid-padding-y">
        <div class="cell small-3">
            <div class="member-btn active">
                <div class="grid-x">
                    <div class="cell text-center">
                        <input type="radio" id="rbNewBugoutBag" name="location" value="-2" />
                        <label for="rbNewBugoutBag">New Bugout Bag</label>
                    </div>
                </div>
            </div>
        </div>
        @foreach (var location in Model.LstLocations.Where(x => x.IsBugoutBag == true))
        {
            //Create button name
            string btnName = ("rb" + location.Name).Replace(" ", "");

            <div class="cell small-3">
                <div class="member-btn">
                    <div class="grid-x">
                        <div class="cell text-center">
                            <br />
                            <input type="radio" id="@btnName" name="location" value="@location.LocationId" />
                            <label for="@btnName">@location.Name</label>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <br />
    <br />
    <br />
    <br />





    <fieldset class="fsLocation" data-locationid="-1">
        <legend>New Location</legend>

        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell large-4">
                <h5>Location Name</h5>
            </div>
            <div class="cell large-8">
                @Html.TextBoxFor(m => Model.NewLocation.Name)
            </div>
            <div class="cell large-4 large-offset-4">
                <button type="submit" class="button expanded" name="btnCancel" value="">Cancel</button>
            </div>
            <div class="cell large-4">
                <button type="submit" class="button expanded active" name="btnSubmit" value="-1">Add Location</button>
            </div>
        </div>
    </fieldset>





    <fieldset class="fsLocation" data-locationid="-2">
        <legend>New Bugout Bag</legend>

        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell large-4">
                <h5>Owner</h5>
            </div>
            <div class="cell large-8">
                @Html.DropDownListFor(m => m.NewLocation.MemberId, new SelectList(Model.LstMembers, "MemberId", "FirstName"), "Select Owner")
            </div>
            <div class="cell large-4 large-offset-4">
                <button type="submit" class="button expanded" name="btnCancel" value="">Cancel</button>
            </div>
            <div class="cell large-4">
                <button type="submit" class="button expanded active" name="btnSubmit" value="-2">Add Bugout Bag</button>
            </div>
        </div>
    </fieldset>






    for (int i = 0; i < Model.LstLocations.Count(); i++)
    {
        <fieldset class="fsLocation" data-locationid="@Model.LstLocations[i].LocationId">
            <legend>Update Location</legend>
            @Html.HiddenFor(x => Model.LstLocations[i].LocationId)
            @Html.HiddenFor(x => Model.LstLocations[i].IsBugoutBag)

            <div class="grid-x grid-padding-x grid-padding-y">
                @if (Model.LstLocations[i].IsBugoutBag)
                {
                    <div class="cell large-4">
                        <h5>Owner</h5>
                    </div>
                    <div class="cell large-8">
                        @Html.DropDownListFor(m => m.LstLocations[i].MemberId, new SelectList(Model.LstMembers, "MemberId", "FirstName"), "Select Owner")

                        @*@Html.DropDownListFor(m => m.LstLocations, new SelectList(Model.LstMembers, "MemberId", "FirstName"), "Select Owner")*@

                        @*@Html.DropDownListFor(m => m.NewItem.LocationId, new SelectList(Model.LstBugoutLocations, "LocationId", "Name"), "")*@

                    </div>
                }
                else
                {
                    <div class="cell large-4">
                        <h5>Location Name</h5>
                    </div>
                    <div class="cell large-8">
                        @Html.TextBoxFor(x => Model.LstLocations[i].Name)
                    </div>
                }

                <div class="cell large-4">
                    <button type="submit" class="button expanded" name="btnCancel" value="">Cancel</button>
                </div>
                <div class="cell large-4">
                    <button type="submit" class="button expanded" name="btnDelete" value="@Model.LstLocations[i].LocationId">Delete</button>
                </div>
                <div class="cell large-4">
                    <button type="submit" class="button expanded active" name="btnUpdateBag" value="@Model.LstLocations[i].LocationId">Update</button>
                </div>
            </div>
        </fieldset>
    }


    <br />
    <br />
    @Html.ValidationSummary(false, "")
}





<script type="text/javascript">
    //
    //========================================================
    jQuery(function ($) {
        var fsLocations = $('.fsLocation');
        var lstLocationRb = $('input[type=radio][name=location]')


        $(lstLocationRb).change(function () {
            console.log(this.value);
            fsLocations.hide();
            $('.fsLocation[data-locationid="' + this.value + '"]').show();
        });
    });
</script>
