@using System;
@using Models;
@inherits UmbracoViewPage<Models.ForgotPasswordModel>



@using (Html.BeginUmbracoForm<Controllers.ForgotPasswordController>("ResetPassword", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <h3 class="noTopMarginHeader">Forgot your password?  </h3>
    <p>No problem.  Just enter your email below and we will send you a temporary password.  Once logged in, you can edit your password.</p>
    <br />
    <br />
    <div class="grid-x grid-padding-x">
        <div class="cell large-12">
            <h4>@Html.DisplayNameFor(m => m.Email)</h4>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell large-12">
            @Html.TextBoxFor(m => m.Email)
            <h6 class="text-right">@Html.ValidationMessageFor(m => m.Email)</h6>
        </div>
        <div class="cell large-8 large-offset-4">
            <input type="submit" name="Create Account" title="Reset Password" class="button expanded primary avgHeight" />
        </div>
    </div>

    <div class="grid-x">


        @if (TempData["PwResetSuccessfully"] != null && (bool)TempData["PwResetSuccessfully"])
        {
            <div class="cell text-center">
                <br />
                <br />
                <br />
                <h4>
                    A new password has been sent to your email.<br />
                    Please give a few minutes for the email to be delivered.
                </h4>
            </div>
        }
        else
        {
            <div class="cell">
                <br />
                <br />
                <br />
                @Html.ValidationSummary()
            </div>
        }
    </div>
}