@using System;
@using Models;
@inherits UmbracoViewPage<Models.LoginModel>


@{
    //Obtain url to the forgot password page
    string forgotPwUrl = Umbraco.Content((int)(Common.siteNode.ForgotPassword)).Url();
    string createNewAcctUrl = Umbraco.Content((int)(Common.siteNode.CreateAccount)).Url();
}



@*@using (Html.BeginUmbracoForm<Controllers.LoginController>("LogMemberIn", new { membershipHelper = Members }, FormMethod.Post))*@
@using (Html.BeginUmbracoForm<Controllers.LoginController>("LogMemberIn", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form">
        <div class="grid-x">
            <div class="cell">


                @if (TempData["ValidatedSuccessfully"] != null && (bool)TempData["ValidatedSuccessfully"] == true)
                {
                    <h3 class="text-center">Your account has been validated successfully.</h3>
                    <br />
                }
                else if (TempData["ValidatedSuccessfully"] != null && (bool)TempData["ValidatedSuccessfully"] == false)
                {
                    <h3 class="text-center">We were unable to validate your account.</h3>
                    <br />
                }


                <div class="grid-x grid-padding-x">
                    <div class="cell large-12">
                        <h4>@Html.DisplayNameFor(m => m.LoginId)</h4>
                        @Html.TextBoxFor(m => m.LoginId)
                    </div>
                    <div class="cell large-12">
                        <h4>@Html.DisplayNameFor(m => m.Password)</h4>
                        @Html.PasswordFor(m => m.Password)
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="cell large-16">
                        <br />
                        <h6>@Html.ValidationSummary()</h6>
                    </div>
                    <div class="cell large-8">
                        <br />
                        <button class="button expanded primary">Login</button>
                        <div class="text-center">
                            <a href="@forgotPwUrl" class="primaryLink">Forgot Password</a>
                        </div>
                        <h5 class="text-center">Don't have an account?<br />Let's go <a href="@createNewAcctUrl">Create One</a>.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
