@using Umbraco.Web;
@using Models;
@using System.Collections.Generic;
@*@using Examine.SearchCriteria;*@
@using ImageProcessor.Web;
@using Umbraco.Web.Models;
@using Umbraco.Web.PublishedModels;
@inherits UmbracoViewPage


@{
    MainNavContent mainNavContent = Controllers.GeneralController.ObtainMainNavContent(User, Umbraco, Model);
}


<nav class="mainNav show-for-large">
    <div class="grid-container">
        <div class="grid-x align-middle show-for-large">
            <div class="shrink cell">
                <ul class="left nav navbar-nav">
                    @*//Loop thru nodes and add visible nodes to the menu*@
                    @foreach (var lnkLvl1 in mainNavContent.lstMainNavlinks)
                    {
                        //Insert spacers after 1st menu item
                        if (mainNavContent.firstItem) { mainNavContent.firstItem = false; }
                        else
                        {
                            <li class="spacerIcon">&#10013;</li>
                        }

                        @*//Add level 1 nav*@
                        <li>
                            <a href="@lnkLvl1.url" data-nodeid="@lnkLvl1.id">
                                @lnkLvl1.name
                            </a>

                            @*//Add level 2 nav*@
                            @if (lnkLvl1.lstChildLinks.Any())
                            {
                                <ul>
                                    @foreach (var lnkLvl2 in lnkLvl1.lstChildLinks)
                                    {
                                        <li>
                                            <a href="@lnkLvl2.url" data-nodeid="@lnkLvl2.id">
                                                @lnkLvl2.name
                                            </a>

                                            @*//Add level 3 nav*@
                                            @if (lnkLvl2.lstChildLinks.Any())
                                            {
                                                <ul>
                                                    @foreach (var lnkLvl3 in lnkLvl2.lstChildLinks)
                                                    {
                                                        <li>
                                                            <a href="@lnkLvl3.url" data-nodeid="@lnkLvl3.id">
                                                                @lnkLvl3.name
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </div>
            <div class="auto cell text-center miniLogoTab">
                <a href="/">
                    <img id="atwMiniLogo" alt="After the Warning" src="~/images/common/mini-logo.png" />
                </a>
            </div>
            <div class="shrink cell">
                <ul class="left nav navbar-nav">
                    @*//Loop thru nodes and add visible nodes to the menu*@
                    @{mainNavContent.firstItem = true; }
                    @foreach (var lnkLvl1 in mainNavContent.lstMinorNavlinks) //lstMainNavlinks
                    {
                        //Insert spacers after 1st menu item
                        if (mainNavContent.firstItem) { mainNavContent.firstItem = false; }
                        else
                        {
                            <li class="spacerIcon">&#10013;</li>
                        }

                        @*//Add level 1 nav*@
                        <li>

                            @if (lnkLvl1.id == (int)Common.siteNode.Logout)
                            {
                                using (Html.BeginUmbracoForm("LogMemberOut", "Login", FormMethod.Post, new { id = "logoutForm" }))  // Function | Controller | Method
                                {
                                    <a data-nodeid="@lnkLvl1.id" onclick="$('#logoutForm').submit();">
                                        @lnkLvl1.name
                                    </a>
                                }
                            }
                            else
                            {
                                <a href="@lnkLvl1.url" data-nodeid="@lnkLvl1.id">
                                    @lnkLvl1.name
                                </a>
                            }

                            @*//Add level 2 nav*@
                            @if (lnkLvl1.lstChildLinks.Any())
                            {
                                <ul>
                                    @foreach (var lnkLvl2 in lnkLvl1.lstChildLinks)
                                    {
                                        <li>
                                            <a href="@lnkLvl2.url" data-nodeid="@lnkLvl2.id">
                                                @lnkLvl2.name
                                            </a>


                                            @*//Add level 3 nav*@
                                            @if (lnkLvl2.lstChildLinks.Any())
                                            {
                                                <ul>
                                                    @foreach (var lnkLvl3 in lnkLvl2.lstChildLinks)
                                                    {
                                                        <li>
                                                            <a href="@lnkLvl3.url" data-nodeid="@lnkLvl3.id">
                                                                @lnkLvl3.name
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                    <li class="searchIcon">
                        <a href="@mainNavContent.searchUrl">
                            <img alt="Search" src="~/images/common/searchIcon.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<nav class="title-bar hide-for-large align-right" data-responsive-toggle="mblMenu" data-hide-for="large">
    <div data-toggle="mblMenu" class="toggle-topbar">
        <div class="title-bar-title">Menu</div>
        <button class="menu-icon" type="button"></button>
    </div>
</nav>
<section class="top-bar hide-for-large" id="mblMenu">
    <ul class="vertical menu drilldown" data-responsive-menu="drilldown" data-smooth-scroll data-auto-height="true" data-animate-height="true">
        @*//Loop thru menu list and add records to the menu*@
        @foreach (var lnkLvl1 in mainNavContent.lstMainNavlinks)
        {
            @*//Add level 1 nav*@
            <li>
                @*//Determine if we should provide a link or a drilldown to the child menu*@
                @if (lnkLvl1.lstChildLinks.Any())
                {
                    <a href="#" data-nodeid="@lnkLvl1.id">
                        @lnkLvl1.name
                    </a>
                }
                else
                {
                    <a href="@lnkLvl1.url" data-nodeid="@lnkLvl1.id">
                        @lnkLvl1.name
                    </a>
                }


                @*//Add level 2 nav*@
                @if (lnkLvl1.lstChildLinks.Any())
                {
                    <ul class="vertical menu">
                        <li class="parentLink">
                            <a href="@lnkLvl1.url" data-nodeid="@lnkLvl1.id">
                                @lnkLvl1.name
                            </a>
                        </li>
                        @foreach (var lnkLvl2 in lnkLvl1.lstChildLinks)
                        {
                            <li>
                                @*//Determine if we should provide a link or a drilldown to the child menu*@
                                @if (lnkLvl2.lstChildLinks.Any())
                                {
                                    <a href="#" data-nodeid="@lnkLvl2.id">
                                        @lnkLvl2.name
                                    </a>
                                }
                                else
                                {
                                    <a href="@lnkLvl2.url" data-nodeid="@lnkLvl2.id">
                                        @lnkLvl2.name
                                    </a>
                                }


                                @*//Add level 3 nav*@
                                @if (lnkLvl2.lstChildLinks.Any())
                                {
                                    <ul class="vertical menu">
                                        <li class="parentLink">
                                            <a href="@lnkLvl2.url" data-nodeid="@lnkLvl2.id">
                                                @lnkLvl2.name
                                            </a>
                                        </li>

                                        @foreach (var lnkLvl3 in lnkLvl2.lstChildLinks)
                                        {
                                            <li>
                                                <a href="@lnkLvl3.url" data-nodeid="@lnkLvl3.id">
                                                    @lnkLvl3.name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                }
            </li>
        }
        @foreach (var lnkLvl1 in mainNavContent.lstMinorNavlinks)
        {
            @*//Add level 1 nav*@
            <li>
                @*//Determine if we should provide a link or a drilldown to the child menu*@
                @if (lnkLvl1.lstChildLinks.Any())
                {
                    <a href="#" data-nodeid="@lnkLvl1.id">
                        @lnkLvl1.name
                    </a>
                }
                else
                {
                    @*<a href="@lnkLvl1.url" data-nodeid="@lnkLvl1.id">
                            @lnkLvl1.name
                        </a>*@

                    if (lnkLvl1.id == (int)Common.siteNode.Logout)
                    {
                        using (Html.BeginUmbracoForm("LogMemberOut", "Login", FormMethod.Post, new { id = "logoutForm" }))  // Function | Controller | Method
                        {
                            <a data-nodeid="@lnkLvl1.id" onclick="$('#logoutForm').submit();">
                                @lnkLvl1.name
                            </a>
                        }
                    }
                    else
                    {
                        <a href="@lnkLvl1.url" data-nodeid="@lnkLvl1.id">
                            @lnkLvl1.name
                        </a>
                    }
                }


                @*//Add level 2 nav*@
                @if (lnkLvl1.lstChildLinks.Any())
                {
                    <ul class="vertical menu">
                        <li class="parentLink">
                            <a href="@lnkLvl1.url" data-nodeid="@lnkLvl1.id">
                                @lnkLvl1.name
                            </a>
                        </li>
                        @foreach (var lnkLvl2 in lnkLvl1.lstChildLinks)
                        {
                            <li>
                                @*//Determine if we should provide a link or a drilldown to the child menu*@
                                @if (lnkLvl2.lstChildLinks.Any())
                                {
                                    <a href="#" data-nodeid="@lnkLvl2.id">
                                        @lnkLvl2.name
                                    </a>
                                }
                                else
                                {
                                    <a href="@lnkLvl2.url" data-nodeid="@lnkLvl2.id">
                                        @lnkLvl2.name
                                    </a>
                                }


                                @*//Add level 3 nav*@
                                @if (lnkLvl2.lstChildLinks.Any())
                                {
                                    <ul class="vertical menu">
                                        <li class="parentLink">
                                            <a href="@lnkLvl2.url" data-nodeid="@lnkLvl2.id">
                                                @lnkLvl2.name
                                            </a>
                                        </li>

                                        @foreach (var lnkLvl3 in lnkLvl2.lstChildLinks)
                                        {
                                            <li>
                                                <a href="@lnkLvl3.url" data-nodeid="@lnkLvl3.id">
                                                    @lnkLvl3.name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                }
            </li>
        }

        <li class="searchIcon">
            <a href="@mainNavContent.searchUrl">
                <img alt="Search" src="~/images/common/searchIcon.png" /> Search
            </a>
        </li>
    </ul>
</section>




@*http://www.jondjones.com/learn-umbraco-cms/umbraco-developers-guide/umbraco-component-tutorials/how-to-create-a-basic-navigation-menu-in-umbraco-7*@