@using Umbraco.Extensions;
@using System.Text.Json;
@using ECMC_Umbraco.Models;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using ECMC_Umbraco.ViewModel;
@model ListItemViewModel;



<div class="card" data-areas-of-interest="@Model.jsonAreasOfInterest" data-staff="@Model.jsonStaff" data-audience="@Model.jsonAudience" data-title="@Model.Title" data-subtitle="@Model.Subtitle?" data-summary="@Model.EncodedSummary">
    <div class="grid-x grid-margin-x grid-margin-y grid-padding-y">
        <div class="cell large-4">
            <a href="@Model.Link?.Url" target="_blank">
                <img src="@Model.PrimaryImgUrl" alt="@Model.Title">
            </a>
        </div>
        <div class="cell large-20">
            <div class="grid-y">
                <div class="cell  auto">
                    <h4><a href="@Model.Link?.Url" target="_blank">@Model.Title</a></h4>
                    @if (!string.IsNullOrEmpty(Model.Subtitle))
                    {
                        <h6><a href="@Model.Link?.Url" target="_blank">@Model.Subtitle</a></h6>
                    }
                    <p>@Model.Summary</p>
                </div>
                <div class="cell shrink">
                    <h5><a href="@Model.Link?.Url" target="_blank" title="Read More" class="read-more">READ MORE</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>