@using ContentModels = Umbraco.Web.PublishedModels;
@using bl.Models;
@using bl.Controllers
@inherits Umbraco.Web.Mvc.UmbracoViewPage<bl.Models.AcctSetupModel>
@*@model www.Models.AcctSetupModel*@





@if (TempData.ContainsKey("CustomMessage"))
{
    <div>Hooray! - @TempData["CustomMessage"]</div>
}
else
{


    <div id="AccountSetup" class="grid-x grid-padding-x grid-padding-y">
        <div class="cell large-7">

            @{ Html.RenderPartial(Common.PartialPath.AcctSetup_SideSteps);}

        </div>
        <div class="cell large-17 step-panels">
            @using (Html.BeginUmbracoForm<www.Controllers.AcctSetupController>(Common.wwwAction.FormSubmit_AcctSetup))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.MemberId)
                @Html.HiddenFor(m => m.AccountId)

                if (Model.StepIndex == 0) { Html.RenderPartial(Common.PartialPath.AcctSetup_Introduction, Model); }
                else if (Model.StepIndex == 1) { Html.RenderPartial(Common.PartialPath.AcctSetup_UserInfo, Model); }
                else if (Model.StepIndex == 2) { Html.RenderPartial(Common.PartialPath.AcctSetup_Members, Model); }
                else if (Model.StepIndex == 3) { Html.RenderPartial(Common.PartialPath.AcctSetup_Locations, Model); }
                else if (Model.StepIndex == 4) { Html.RenderPartial(Common.PartialPath.AcctSetup_ToolSets, Model); }
                else if (Model.StepIndex == 5) { Html.RenderPartial(Common.PartialPath.AcctSetup_Dedication, Model); }

                <div data-nav-btns>
                    <br />
                    <hr />
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-6 large-offset-12">
                            @if (Model.StepIndex > 0)
                            {
                                <button type="submit" name="Previous" value="true" class="button expanded large">Previous</button>
                            }
                        </div>
                        <div class="cell large-6">
                            @if (Model.StepIndex == (Model.TotalSteps))
                            {
                                <button type="submit" name="btnComplete" value="true" class="button expanded large active">Complete</button>
                            }
                            else
                            {
                                <button type="submit" name="Next" value="true" class="button expanded large active">Next</button>
                            }
                        </div>
                    </div>
                    <input type="hidden" name="StepIndex" value="@Model.StepIndex" />

                </div>
            }
        </div>
    </div>


}