@inherits Umbraco.Web.Mvc.UmbracoViewPage<bl.Models.AcctSetupModel>


<div id="Step-UserInfo" class="step-panel" data-step="1">
    <h2>User Information</h2>
    <div>
        <img alt="" src="~/images/temp/img-box.png" style="float:right;margin-left:12px;" />
        <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi.</p>
    </div>
    <br />
    <br />
    <hr />
    <br />
    <br />

    <div class="grid-x grid-padding-x grid-padding-y pnl-add-new-member">

        <div class="cell large-3 text-right">
            <h5>First Name</h5>
        </div>
        <div class="cell large-5">
            @Html.TextBoxFor(m => Model.CurrentUserInfo.FirstName, new { required = "required" })
        </div>


        <div class="cell large-3 text-right">
            <h5>Last Initial</h5>
        </div>
        <div class="cell large-5">
            @Html.TextBoxFor(m => Model.CurrentUserInfo.LastInitial, new { required = "required" })
        </div>

    </div>
    <div class="grid-x grid-padding-x grid-padding-y pnl-add-new-member">

        <div class="cell large-3 text-right">
            <h5>Gender</h5>
        </div>
        <div class="cell large-5">
            @Html.DropDownListFor(m => m.CurrentUserInfo.Gender, new SelectList(Model.LstGenders, "Value", "Text", Model.CurrentUserInfo.Gender), "Select Gender")
        </div>


        <div class="cell large-3 text-right">
            <h5>Birth Year</h5>
        </div>
        <div class="cell large-5">
            @Html.DropDownListFor(m => m.CurrentUserInfo.BirthYear, new SelectList(Model.LstBirthYears, "Value", "Text", Model.CurrentUserInfo.BirthYear), "Select Year")
        </div>

    </div>
    <div class="grid-x grid-padding-x grid-padding-y pnl-add-new-member">
        <div class="cell">
            @Html.ValidationSummary(false, "Error")
        </div>
    </div>

    

</div>