@model bl.Models.Region


@{
    //Create abbreviated region name
    string regionClass = new String(Model.Title.Where(Char.IsLetter).ToArray());
}



<div class="cell purchase-panel custom-bundle">
    @using (Html.BeginUmbracoForm<bl.Controllers.blAccountController>(bl.Models.Common.Action.SubmitExamPurchase_Bundle))
    {
        @Html.AntiForgeryToken()


        @*<div class="hide hflds">
                @Html.HiddenFor(x => Model.Title)
                @Html.HiddenFor(x => Model.Id)
                @Html.HiddenFor(x => Model.BundleDiscount)
                @Html.HiddenFor(x => Model.TotalCost)
                @Html.HiddenFor(x => Model.SubscriptionTime)
            </div>*@



        <div class="title text-center" data-equalizer-watch="title-@regionClass">
            <h3>Bundle</h3>
            <p>
                Build Your Own Bundle<br>
                <em>&ndash;Click to Add Exams&ndash;</em>
            </p>
        </div>
        <div class="option-table green bundle">


            <div class="selections" data-equalizer-watch="selections-@regionClass">
                @{
                    int index = 0;
                }
                @for (var j = 0; j < Model.LstExams.Count(); j++)
                {
                    <input type="checkbox" value="@Model.LstExams[j].Id" name="@regionClass-bundle-@Model.LstExams[j].Id" id="@regionClass-bundle-@Model.LstExams[j].Id" data-price="@Model.LstExams[j].Price" @( index < 3 ? "checked" : "")>
                    <label for="@regionClass-bundle-@Model.LstExams[j].Id"><span class="check"></span>@Model.LstExams[j].Title</label>

                    <div class="hide hidden hflds @regionClass-bundle-@Model.LstExams[j].Id">
                        @Html.HiddenFor(x => Model.LstExams[j].Title)
                        @Html.HiddenFor(x => Model.LstExams[j].Price)
                        @Html.HiddenFor(x => Model.LstExams[j].Duration)
                        @Html.HiddenFor(x => Model.LstExams[j].Id)
                        @if (j < 3)
                        {
                            @Html.HiddenFor(x => Model.LstExams[j].IsSelected, new { Value = true, @class = "hfldIsSelected" })
                        }
                        else
                        {
                            @Html.HiddenFor(x => Model.LstExams[j].IsSelected, new { Value = false, @class = "hfldIsSelected" })
                        }
                    </div>

                    index++;
                }
            </div>


            <div class="price" data-equalizer-watch="price-@regionClass">
                <p>$<span class="amount"></span></p>
                <p class="savings">
                    <span class="coupon-applied">Coupon applied,<br></span>
                    You save a total of $<span class="discount">0</span>.
                </p>
            </div>
        </div>


        <div class="hide hflds">
            @Html.HiddenFor(x => Model.Title)
            @Html.HiddenFor(x => Model.Id)
            @Html.HiddenFor(x => Model.SubscriptionTime)
            @Html.HiddenFor(x => Model.BundleDiscount, new { @class = "hfldBundleDiscount" })
            @Html.HiddenFor(x => Model.CouponDiscount, new { @class = "hfldCouponDiscount" })
            @Html.HiddenFor(x => Model.TotalDiscount, new { @class = "hfldTotalDiscount" })
            @Html.HiddenFor(x => Model.TotalCost, new { @class = "hfldTotalCost" })
            @Html.HiddenFor(x => Model.CouponCode, new { @class = "hfldCouponCode" })

            @*<input class="amount-savings" type="hidden" value="0">*@
            @*<input class="coupon-savings" type="hidden" value="0">*@
            @*<input class="amount-total" type="hidden" value="0">*@
            @*<input class="amount-subtotal" type="hidden" value="0">*@
        </div>
        if (User.Identity.IsAuthenticated)
        {
            <button type="submit" name="submit" class="buy-now" value="Bundled">Buy Now</button>
        }
        else
        {
            <a href="@TempData[bl.Models.Common.TempData.RedirectTo]" class="btn button buy-now">Buy Now</a>
        }
    }



    @{
        //if (User.Identity.IsAuthenticated)
        //{
        <div class="discount">
            <a class="discountCodeDisplay">Coupon Code?</a>
            <div class="discount form-row discountDiv">
                <div class="code">

                    <div class="grid-x">
                        <div class="cell auto">
                            <input name="@regionClass-bundle-DiscountCode" value="" id="@regionClass-bundle-DiscountCode" type="text">
                        </div>
                        <div class="cell shrink">
                            <button class="apply-btn">Apply</button>
                        </div>
                    </div>

                    <div class="grid-x">
                        <div class="cell">
                            <div class="info valid">
                                <i class="icon-attention-circled"></i>Code is valid, <span class="discount-value"></span> discount.
                            </div>
                            <div class="info invalid">
                                <i class="icon-minus-circled"></i>Code not found.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        //}
    }
</div>