@inherits UmbracoViewPage
@{ Layout = "TopLevel.cshtml"; }



@{
    Models.ManageAcctContent PgContent = Controllers.GeneralController.ObtainManageAcctContent(User, Umbraco, Model);
    if (PgContent.Redirect)
    {
        Response.Redirect(PgContent.RedirectTo);
    }
}



<div class="manageAccount">
    <div class="grid-x grid-padding-x">
        <div class="cell medium-8 large-6">
            <ul class="filters">
                <li data-id="0"><a href="@PgContent.CredentialsUrl"><h5>Credentials</h5></a></li>
                <li data-id="1" class="@PgContent.Inactive"><a href="@PgContent.IlluminationStoryUrl"><h5>Illumination Story</h5></a></li>
            </ul>
            <br />
        </div>
        <div class="cell medium-16 large-18 form">
            @if (!PgContent.IsManageAcctPg)
            {
                @RenderBody()
            }
        </div>
    </div>
</div>


@section Footer {
    <script type="text/javascript" src="~/Scripts/custom/manageAcct.js"></script>

    @if (!PgContent.IsManageAcctPg)
    {
        @RenderSection("Footer", false)
    }
}