@using Models;
@using ContentModels = Umbraco.Web.PublishedModels;
@inherits UmbracoViewPage<ContentModels.Scripture>
@{ Layout = "TopLevel.cshtml"; }



@{ var PgContent = Controllers.ScriptureController.ObtainScriptureData(Model, Request.QueryString[Common.NodeProperties.chapter]); }


<div class="scripture">
    <div class="grid-x">
        <div class="cell">
            <div>
                <a href="@PgContent.bibleUrl">« Table of Content</a>
            </div>
            <br />
            <fieldset>
                <legend>Chapters</legend>
                <div class="grid-x grid-padding-x grid-padding-y small-up-6 medium-up-8 large-up-12 chapterGrid text-center">
                    @for (int i = 1; i <= PgContent.chapterCount; i++)
                    {
                        if (i == PgContent.currentChapter)
                        {
                            <div class="cell active">
                                <div>
                                    <span>@i</span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="cell">
                                <a href="@(Model.Url())?chapter=@i">
                                    <div>
                                        <span>@i</span>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </fieldset>
            <br />

            <h3>Chapter @PgContent.currentChapter</h3>

            @*@foreach (var verse in PgContent.verses)
        {
            <p>@verse.verse &nbsp;&nbsp;&nbsp;@verse.content</p>
        }*@


            @foreach (Models.ScriptureVerse verse in PgContent.LstScriptureVerses)
            {
                <div>@verse.Verse &nbsp;&nbsp;&nbsp;@verse.Content</div>
            }
        </div>


    </div>
</div>


@section Footer {
    <script type="text/javascript" src="~/Scripts/custom/scriptureControls.js"></script>
}