@using Models;
@using ContentModels = Umbraco.Web.PublishedModels;
@inherits UmbracoViewPage<ContentModels.TableOfContent>
@{ Layout = "TopLevel.cshtml"; }



@{
    TOCContent tOCContent = Controllers.ScriptureController.ObtainTocContent(Umbraco, Model);
}


<div class="toc">
    <div class="grid-x">
        <div class="cell">
            <div>
                <a href="@tOCContent.prefaceUrl">« Preface</a>
            </div>
            <div class="grid-x grid-padding-x">
                @foreach (tocTestament tocTestament in tOCContent.toc.lstTestaments)
                {
                    <div class="cell medium-12">
                        <h3 class="text-center">@tocTestament.testament</h3>
                        <br />
                        @foreach (tocBookSet tocBookSet in tocTestament.lstBookSets)
                        {
                            <fieldset>
                                <legend>@tocBookSet.bookSet</legend>
                                @foreach (tocBook tocBook in tocBookSet.lstBooks)
                                {
                                    <h4><a href="@tocBook.url">@tocBook.name</a></h4>
                                }
                            </fieldset>
                            <br />
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>