@using Models;
@using ContentModels = Umbraco.Web.PublishedModels;
@inherits UmbracoViewPage<ContentModels.Visionary>
@{ Layout = "TopLevel.cshtml";}



@{
    VisionaryContent visionaryContent = Controllers.MessagesController.ObtainVisionaryContent(Model);
}



@section Header {}

<div class="grid-x grid-padding-x grid-padding-y biography-pnl">
    <div class="cell small-24 medium-8 large-6 text-center">
        <img alt="@visionaryContent.VisionarysName" src="@visionaryContent.PageImage" />
    </div>
    <div class="cell small-24 medium-16 large-18">
        <div class="grid-x grid-padding-x">
            <div class="cell small-24 large-24">
                <div class="grid-x grid-padding-x">
                    <div class="cell shrink">
                        <h4>Name</h4>
                    </div>
                    <div class="cell auto content">
                        <h4>@visionaryContent.VisionarysName</h4>
                    </div>
                </div>
            </div>

            @if (!string.IsNullOrEmpty(visionaryContent.Religion))
            {
                if (visionaryContent.isOtherOrKeepPrivate)
                {
                    <div class="cell small-24 large-24">
                        <div class="grid-x grid-padding-x">
                            <div class="cell shrink">
                                <h4>Religion</h4>
                            </div>
                            <div class="cell auto content">
                                <h4>@visionaryContent.Religion</h4>
                            </div>
                        </div>
                    </div>
                }
            }

            @if (!string.IsNullOrEmpty(visionaryContent.Email))
            {
                <div class="cell small-24 large-24">
                    <div class="grid-x grid-padding-x">
                        <div class="cell shrink">
                            <h4>Email</h4>
                        </div>
                        <div class="cell auto content">
                            <h4><a href="mailto:@visionaryContent.Email" target="_blank">@visionaryContent.Email</a></h4>
                        </div>
                    </div>
                </div>
            }

            @if (!string.IsNullOrEmpty(visionaryContent.Phone))
            {
                <div class="cell small-24 large-24">
                    <div class="grid-x grid-padding-x">
                        <div class="cell shrink">
                            <h4>Phone</h4>
                        </div>
                        <div class="cell auto content">
                            <h4><a href="tel:@visionaryContent.phoneNo" target="_blank">@visionaryContent.Phone</a></h4>
                        </div>
                    </div>
                </div>
            }

            @if (!string.IsNullOrEmpty(visionaryContent.OriginalSiteUrl))
            {
                <div class="cell small-24 large-24">
                    <div class="grid-x grid-padding-x">
                        <div class="cell shrink">
                            <h4>Original Site</h4>
                        </div>
                        <div class="cell auto content">
                            <h4><a href="@visionaryContent.OriginalSiteUrl" target="_blank">@visionaryContent.OriginalSiteName</a></h4>
                        </div>
                    </div>
                </div>
            }

            @{
                if (!visionaryContent.isAddressNull)
                {
                    <div class="cell small-24 large-24">
                        <div class="grid-x grid-padding-x">
                            <div class="cell shrink">
                                <h4>Address</h4>
                            </div>
                            <div class="cell auto content">
                                <h4>@Html.Raw(visionaryContent.strAddress.ToString())</h4>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>
<br />

@{Html.RenderAction("RenderMsgs_byVisionary", "Messages", new { ipVisionary = Model.AncestorOrSelf(Common.docType.Visionary), Umbraco = Umbraco });}

@section Footer {}