@using System;
@using bl.Models;

@inherits UmbracoViewPage<bl.Models.LoginModel>


@{
//Obtain url to the forgot password page
//string forgotPwUrl = "";// Umbraco.Content((int)(Common.siteNode.ForgotPassword)).Url();
//string createNewAcctUrl = "";// Umbraco.Content((int)(Common.siteNode.CreateAccount)).Url();
}



@*@using (Html.BeginUmbracoForm<Controllers.LoginController>("LogMemberIn", new { membershipHelper = Members }, FormMethod.Post))*@
@using (Html.BeginUmbracoForm<www.Controllers.LoginController>(Common.wwwAction.FormSubmit_LogMemberIn, FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <fieldset>
        <legend>Test Login</legend>
        <div class="form">
            <div class="grid-x grid-padding-x grid-padding-y">
                <div class="cell">

                    <div class="grid-x grid-padding-x">
                        <div class="cell large-4">
                            <h4>@Html.DisplayNameFor(m => m.LoginId)</h4>
                            @*@Html.TextBoxFor(m => m.LoginId, new { @Value = "sandbox@preppersuite.com" })*@
                            @Html.TextBoxFor(m => m.LoginId, new { @Value = "jim.fifth@5thstudios.com" })
                        </div>
                        <div class="cell large-4">
                            <h4>@Html.DisplayNameFor(m => m.Password)</h4>
                            @Html.PasswordFor(m => m.Password, new { @Value = "Vbd0tnet1976" })
                        </div>
                    </div>
                    <div class="grid-x grid-padding-x">
                        <div class="cell large-4">
                            <br />
                            <button class="button expanded primary">Login</button>
                        </div>
                        <div class="cell large-20">
                            <br />
                            <h6>@Html.ValidationSummary()</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>


    
}

