@using bl.Models;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<bl.Models.Inventory>


<div class="grid-x grid-padding-x">
    <div class="cell large-12">
        <h3>Current Inventory</h3>
    </div>
    <div class="cell small-3">
        <br />
        <a id="btn-expand-all" class="button small expanded active ">Expand All</a>
    </div>
    <div class="cell small-3">
        <br />
        <a id="btn-collapse-all" class="button small expanded active ">Collapse All</a>
    </div>
    <div class="cell small-3">
        <br />
        <a href="@Umbraco.Content((int)(Common.SiteNode.LocationMngr)).Url()" class="button small expanded">Add Bag</a>
    </div>
    <div class="cell small-3">
        <br />
        <a id="btn-add-item" class="button small expanded">Add Item</a>
    </div>
</div>
<br />


<div class="grid-x grid-padding-x">
    <div class="cell">

        <br />
        <div class="grid-x">
            <div class="cell large-21 large-offset-3">
                <div class="grid-x content-header" title="Description info to go here...">
                    <div class="cell large-9">
                        Item Name
                    </div>
                    <div class="cell large-6">
                        Toolset
                    </div>
                    <div class="cell large-6">
                        Category
                    </div>
                </div>
            </div>
        </div>



        @using (Html.BeginUmbracoForm<www.Controllers.ToolsController>(bl.Models.Common.wwwAction.FormSubmit_CurrentInventory))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.MemberId)
            @Html.HiddenFor(m => m.AccountId)
            @Html.HiddenFor(m => m.ShowUpdateRecord)

            <div class="accordion">
                @{
                    foreach (var location in Model.LstBugoutLocations)
                    {
                        <h5 class="category">
                            <span class="text">@location.Name</span>
                        </h5>
                        <div class="content">
                            <div class="content-tree">
                                @foreach (var _item in Model.LstItems.Where(x => x.Location != null && x.Location.LocationId == location.LocationId))
                                {
                                    @ForEachItem(_item);
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>
</div>



@helper ForEachItem(bl.EF.Item _item)
{
    Boolean _alreadyAdded = false;
    if (Model.LstDuplicateItems.Count > 0)
    {
        foreach (bl.Models.DuplicateItems _record in Model.LstDuplicateItems)
        {
            if (_record.ItemName == _item.Name)
            {
                if (_record.Location == _item.Location)
                {
                    _alreadyAdded = true;

                    if (!_record.IsCompleted)
                    {
                        @AddSubAccordion(_record)
                        _record.IsCompleted = true;
                        break;
                    }
                    continue;
                }

            }
        }

    }
    if (!_alreadyAdded)
    {
        @AddRecord(_item)
    }
}

@helper AddRecord(bl.EF.Item _item)
{
    <div class="content-item grid-x">
        <span class="cell shrink content-spacer"></span>
        <div class="cell auto content-text grid-container">
            <div class="grid-x">
                <div class="cell large-10">
                    @_item.Name
                </div>
                <div class="cell large-6">
                    @(_item.Tool == null ? "" : _item.Tool.Name)
                </div>
                <div class="cell large-7">
                    @(_item.Category == null ? "" : _item.Category.Name)
                </div>
                <div class="cell large-1">
                    <button type="submit" name="btnRemoveFromBugoutBag" value="@_item.ItemId">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@helper AddSubAccordion(bl.Models.DuplicateItems _record)
{
    <div class="content-item grid-x subaccordion">
        <span class="cell shrink content-spacer"></span>
        <div class="cell auto content-text grid-container grouping">

            <div class="grid-x heading" data-isopen="false">
                <div class="cell large-13">
                    <i class="fas fa-plus" aria-hidden="true"></i>
                    <i class="fas fa-minus" aria-hidden="true" style="display:none;"></i>
                    @_record.ItemName
                    (x@_record.Count.ToString())
                </div>
            </div>

            @foreach (bl.EF.Item _item in _record.LstItems)
            {
                <div class="grid-x record">
                    <div class="cell large-10 text-right">
                        @*@_item.Name*@
                    </div>
                    <div class="cell large-6">
                        @(_item.Tool == null ? "" : _item.Tool.Name)
                    </div>
                    <div class="cell large-7">
                        @(_item.Category == null ? "" : _item.Category.Name)
                    </div>
                    <div class="cell large-1">
                        <button type="submit" name="btnRemoveFromBugoutBag" value="@_item.ItemId">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            }

        </div>
    </div>
}