@inherits Umbraco.Web.Mvc.UmbracoViewPage<bl.Models.SideToolNav>


<aside class="aside grid-y grid-frame">
    <div class="cell small-24">
        <div class="grid-x">
            <div class="cell root-link">
                <a href="/dashboard/account-management/account-setup/" class="align-middle flex-container">
                    &nbsp;&nbsp;<img alt="" src="~/images/temp/logo.png" />&nbsp;&nbsp;&nbsp;Prepper's Suite
                </a>
            </div>
        </div>



        <div class="grid-x">
            <div class="cell">
                <a href="@Model.DashboardLink.Url" class="align-middle flex-container">
                    <span class="icon"><i class="@Model.DashboardLink.Icon"></i></span>@Model.DashboardLink.Title
                </a>
            </div>
        </div>

        <div class="grid-x">
            <div class="cell">
                <hr />
            </div>
        </div>

        @{
            foreach (var link in Model.LstToolLinks)
            {
                <div class="grid-x">
                    <div class="cell">
                        <a href="@link.Url" class="align-middle flex-container">
                            <span class="icon"><i class="@link.Icon"></i></span>@link.Title
                        </a>
                    </div>
                </div>
            }
        }
        <div class="grid-x">
            <div class="cell">
                <hr />
            </div>
        </div>

        @{
            foreach (var link in Model.LstAdminLinks)
            {
                <div class="grid-x">
                    <div class="cell">
                        <a href="@link.Url" class="align-middle flex-container">
                            <span class="icon"><i class="@link.Icon"></i></span>@link.Title
                        </a>
                    </div>
                </div>
            }
        }


        <div class="grid-x">
            <div class="cell">
                @using (Html.BeginUmbracoForm<bl.Controllers.MembershipController>(bl.Models.Common.wwwAction.FormSubmit_Logout))
                {
                    @Html.AntiForgeryToken()

                    <button name="login" type="submit" class="align-middle flex-container">
                        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>Sign Out
                    </button>
                }
            </div>
        </div>

    </div>

</aside>


