@inherits Umbraco.Web.Mvc.UmbracoViewPage<Models.Form>


@using (Html.BeginUmbracoForm<Controllers.CommonController>("SubmitForm", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell medium-12 large-8 large-offset-4">
            @Html.TextBoxFor(m => m.Name, new { required = "required", placeholder = "Name" })
        </div>
        <div class="cell medium-12 large-8 ">
            @Html.TextBoxFor(m => m.Email, new { type = "email", required = "required", placeholder = "Email" })
        </div>
        <div class="cell large-16 large-offset-4">
            @Html.TextAreaFor(m => m.Message, 6, 20, new { required = "required", placeholder = "Message" })            
        </div>
    </div>
    <div class="grid-x grid-margin-x grid-margin-y align-bottom">
        <div class="cell medium-12 large-8 large-offset-4 text-center">
            <br />
            <label id="lblRecaptchaMessage">REQUIRED</label>
            <span>
                <span id="RecaptchaContainer"></span>
            </span>
            <div class="hide">
                <br />
                If you see this, leave this form field blank and invest in CSS support!
                @Html.TextBoxFor(m => m.Subject)
            </div>
        </div>
        <div class="cell medium-12 large-8 text-center">
            <br />
            <input type="submit" class="button" title="Send Message" name="Send Message" value="Send Message" />
        </div>
    </div>
}