@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.AccountManagement>
@using ContentModels = Umbraco.Web.PublishedModels;
@{ Layout = "TopLevel.cshtml"; }



@{
    if (!User.Identity.IsAuthenticated)
    {
        //Redirect to login page.
        Response.Redirect(Umbraco.Content((int)bl.Models.Common.SiteNode.Login).Url(), false);
    }


    if (TempData.ContainsKey(bl.Models.Common.TempData.LoginSuccess) && (bool)TempData[bl.Models.Common.TempData.LoginSuccess] == true)
    {
        <!-- ANALYTICS: LOGIN EVENT -->
        <script>
            window.dataLayer = window.dataLayer || [];
            window.dataLayer.push({
                'event': 'login',
                'member_id': @Members.GetCurrentMemberId()
            });
        </script>
    }
    if (TempData.ContainsKey(bl.Models.Common.TempData.UserSuccessfullyCreated) && (bool)TempData[bl.Models.Common.TempData.UserSuccessfullyCreated] == true)
    {
        <!-- ANALYTICS: SIGNUP EVENT -->
        <script>
            window.dataLayer = window.dataLayer || [];
            window.dataLayer.push({
                'event': 'sign_up',
                'member_id': @Members.GetCurrentMemberId()
            });
        </script>
    }
}


<div class="grid-container AcctMngmnt">
    <div class="titles">
        <br />
        @if (!string.IsNullOrWhiteSpace(Model.Title))
        {<h1>@Model.Title</h1> }
    else
    { <h1>@Model.Name</h1>}

        @if (!string.IsNullOrWhiteSpace(Model.Subtitle))
        {<h2>@Model.Subtitle</h2>}

        @if (!string.IsNullOrWhiteSpace(Model.Subtitle))
        {<h3>@Model.Subtitle</h3>}
    </div>


    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell laptop-14 large-14">

            <div class="main-content">
                @{Html.RenderAction(bl.Models.Common.Action.RenderPurchaseForm, bl.Models.Common.Controller.Account, new { cmModel = Model });}
                <div class="padded-content">
                    @Html.Raw(Model.Content)
                </div>
            </div>

        </div>
        <div class="cell    laptop-9 laptop-offset-1   large-9 large-offset-1">
            @{Html.RenderAction(bl.Models.Common.Action.RenderAccountLinks, bl.Models.Common.Controller.Account);}
            <br />
            <br />
            <br />
            <br />
            @{Html.RenderAction(bl.Models.Common.Action.RenderSignupPanel, bl.Models.Common.Controller.Common);}
            <br />
            <br />
            <br />
            <br />
            @Html.Partial(bl.Models.Common.PartialPath.Account_AcceptedPayments, Model)
        </div>
    </div>
</div>
<br />
<br />