@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ChangePassword>
@using ContentModels = Umbraco.Web.PublishedModels;
@using bl;
@using bl.Models;
@{ Layout = "TopLevel.cshtml"; }



@{
    //
    bool isLockedOut = false;
    string email = string.Empty;

    if (TempData.ContainsKey(bl.Models.Common.TempData.LockedOut) && (bool)TempData[bl.Models.Common.TempData.LockedOut] == true)
    {
        //
        isLockedOut = true;
        email = (string)TempData[bl.Models.Common.TempData.Email];

    }
    else if (!User.Identity.IsAuthenticated)
    {
        //Redirect to login page.
        Response.Redirect(Umbraco.Content((int)bl.Models.Common.SiteNode.Login).Url(), false);
    }
}


<div class="grid-container">
    <div class="titles">
        <br />
        @if (!string.IsNullOrWhiteSpace(Model.Title))
        {<h1>@Model.Title</h1> }
    else
    { <h1>@Model.Name</h1>}

        @if (!string.IsNullOrWhiteSpace(Model.Subtitle))
        {<h2>@Model.Subtitle</h2>}

        @if (!string.IsNullOrWhiteSpace(Model.Subtitle))
        {<h3>@Model.Subtitle</h3>}
    </div>




    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell laptop-14 large-14">

            <div class="main-content">
                @Html.Raw(Model.Content)



                @if (TempData.ContainsKey(bl.Models.Common.TempData.Success) && (bool)TempData[bl.Models.Common.TempData.Success] == true)
                {
                    <div class="text-center">
                        <h3 class="text-center">
                            Change Password Complete<br>
                            Your password has been changed!
                        </h3>
                        @*<br />
                <br />
                <a href="@Umbraco.Content((int)bl.Models.Common.SiteNode.Login).Url()" class="button tertiary">Log In</a>*@
                    </div>
                }
                else if (isLockedOut)
                {
                    Html.RenderAction(bl.Models.Common.Action.RenderResetPassword, bl.Models.Common.Controller.Member, new {email = email });
                }
                else
                {
                    Html.RenderAction(bl.Models.Common.Action.RenderChangePassword, bl.Models.Common.Controller.Member);
                }

            </div>
        </div>
        <div class="cell    laptop-9 laptop-offset-1   large-9 large-offset-1">
            @if (!isLockedOut)
            {
                Html.RenderAction(bl.Models.Common.Action.RenderAccountLinks, bl.Models.Common.Controller.Account);
                <br />
                <br />
                <br />
                <br />
            }
            @{Html.RenderAction(bl.Models.Common.Action.RenderSignupPanel, bl.Models.Common.Controller.Common);}
        </div>
    </div>
</div>
<br />
<br />

