@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ForgotPassword>
@using ContentModels = Umbraco.Web.PublishedModels;
@using bl;
@using bl.Models;
@{ Layout = "TopLevel.cshtml"; }



<div class="grid-container Standard">
    <div class="titles">
        <br />
        @if (!string.IsNullOrWhiteSpace(Model.Title))
        {<h1>@Model.Title</h1> }
    else
    { <h1>@Model.Name</h1>}

        @if (!string.IsNullOrWhiteSpace(Model.Subtitle))
        {<h2>@Model.Subtitle</h2>}
        <br />
    </div>

    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell laptop-14 large-14">
            <div class="main-content">
                @Html.Raw(Model.Content)

                @if (TempData.ContainsKey(bl.Models.Common.TempData.Success) && (bool)TempData[bl.Models.Common.TempData.Success] == true)
                {
                    <div class="text-center">
                        <h3 class="text-center">A new password has been sent to your email account.</h3>
                        <br />
                        <br />
                        <a href="@Umbraco.Content((int)bl.Models.Common.SiteNode.Login).Url()" class="button tertiary">Log In</a>
                    </div>
                }
                else
                {
                    Html.RenderAction(bl.Models.Common.Action.RenderForgotPassword, bl.Models.Common.Controller.Member);
                }

            </div>
        </div>
        <div class="cell    laptop-9 laptop-offset-1   large-9 large-offset-1">
            @{Html.RenderAction(bl.Models.Common.Action.RenderSignupPanel, bl.Models.Common.Controller.Common);}
        </div>
    </div>
</div>
<br />
<br />