@using ScrumTests.Controllers;
@using ScrumTests.Models;
@using bl.EF;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<AllScrumData>



@using (Html.BeginUmbracoForm<GeneralController>("FormUpdate_22", FormMethod.Post, new { id = "FormUpdate" }))
{
    <div class="grid-x grid-padding-x grid-padding-y  flex-child-auto">
        <div class="cell">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false)
            @HiddenFields()
            <div class="grid-x grid-margin-x scrum-columns">
                @for (int i = 0; i < Model.LstScrumColumns.Count; i++)
                {
                    @CardColumn(i)
                }
            </div>
        </div>
    </div>

    <div class="side-pnl add-card hide-pnl">
        @PnlAddCard()
    </div>
    <div class="side-pnl update-card hide-pnl">
        @PnlUpdateCard()
    </div>
    <div class="side-pnl delete-card hide-pnl">
        @PnlDeleteCard()
    </div>
}



@helper HiddenFields()
{
    <div class="hide hiddenFields">
        @Html.HiddenFor(m => m.DeleteCardId, new { @class = "hfldDeleteCardId" })

        @for (int i = 0; i < Model.LstScrumColumns.Count; i++)
        {
            <div class="column">
                @Html.HiddenFor(m => m.LstScrumColumns[i].ColumnId, new { @class = "hfldColumnId" })
                @Html.HiddenFor(m => m.LstScrumColumns[i].ColumnName, new { @class = "hfldColumnName" })
                @Html.HiddenFor(m => m.LstScrumColumns[i].ColumnColor, new { @class = "hfldColumnColor" })

                @{
                    for (int j = 0; j < Model.LstScrumColumns[i].LstScrumCards.Count; j++)
                    {
                        string uniqueCardName = "card-" + @Model.LstScrumColumns[i].LstScrumCards[j].CardId;
                        <div class="card">
                            @Html.HiddenFor(m => m.LstScrumColumns[i].LstScrumCards[j].Title, new { @class = "hfldCardName " + @uniqueCardName })
                            @Html.HiddenFor(m => m.LstScrumColumns[i].LstScrumCards[j].Description, new { @class = "hfldCardDescription " + @uniqueCardName })
                            @Html.HiddenFor(m => m.LstScrumColumns[i].LstScrumCards[j].CardId, new { @class = "hfldCardId " + @uniqueCardName })
                            @Html.HiddenFor(m => m.LstScrumColumns[i].LstScrumCards[j].StatusId, new { @class = "hfldCardColumnId " + @uniqueCardName })
                            @Html.HiddenFor(m => m.LstScrumColumns[i].LstScrumCards[j].SortId, new { @class = "hfldSortId " + @uniqueCardName })

                            @Html.HiddenFor(m => m.LstScrumColumns[i].LstScrumCards[j].CompletionDate, new { @class = "hfldCompletionDate " + @uniqueCardName })
                            @Html.HiddenFor(m => m.LstScrumColumns[i].LstScrumCards[j].IsComplete, new { @class = "hfldIsComplete " + @uniqueCardName })
                            @Html.HiddenFor(m => m.LstScrumColumns[i].LstScrumCards[j].CompletionDateString, new { @class = "hfldCompletionDateString " + @uniqueCardName })
                            @Html.HiddenFor(m => m.LstScrumColumns[i].LstScrumCards[j].ChecklistStatus, new { @class = "hfldCompletionDateString " + @uniqueCardName })

                            @Html.HiddenFor(m => m.LstScrumColumns[i].LstScrumCards[j].ActivityStatus, new { @class = "hfldActivityStatus " + @uniqueCardName })
                            @Html.HiddenFor(m => m.LstScrumColumns[i].LstScrumCards[j].CompletedChecklistItems, new { @class = "hfldCompletedActivities " + @uniqueCardName })
                            @Html.HiddenFor(m => m.LstScrumColumns[i].LstScrumCards[j].TotalChecklistItems, new { @class = "hfldTotalActivities " + @uniqueCardName })

                            @Html.HiddenFor(m => m.LstScrumColumns[i].LstScrumCards[j].AccountId)
                            @Html.HiddenFor(m => m.LstScrumColumns[i].LstScrumCards[j].ToolId)
                            @Html.HiddenFor(m => m.LstScrumColumns[i].LstScrumCards[j].IsArchived)
                            @Html.HiddenFor(m => m.LstScrumColumns[i].LstScrumCards[j].CreatedTimestamp)
                            @Html.HiddenFor(m => m.LstScrumColumns[i].LstScrumCards[j].LastUpdatedTimestamp)

                            <div class="card-activity">
                                @{
                                    if (Model.LstScrumColumns[i].LstScrumCards[j].LstScrumActivity != null)
                                    {
                                        for (int k = 0; k < Model.LstScrumColumns[i].LstScrumCards[j].LstScrumActivity.Count; k++)
                                        {
                                            string uniqueActivityName = "activity-" + Model.LstScrumColumns[i].LstScrumCards[j].LstScrumActivity[k].ActivityId;

                                            @Html.HiddenFor(z => z.LstScrumColumns[i].LstScrumCards[j].LstScrumActivity[k].ActivityId, new { @class = "hfldLstScrumActivity_ActivityId " + @uniqueCardName + " " + @uniqueActivityName })
                                            @Html.HiddenFor(z => z.LstScrumColumns[i].LstScrumCards[j].LstScrumActivity[k].CardId, new { @class = "hfldLstScrumActivity_CardId " + @uniqueCardName + " " + @uniqueActivityName })
                                            @Html.HiddenFor(z => z.LstScrumColumns[i].LstScrumCards[j].LstScrumActivity[k].Text, new { @class = "hfldLstScrumActivity_Text " + @uniqueCardName + " " + @uniqueActivityName })
                                            @Html.HiddenFor(z => z.LstScrumColumns[i].LstScrumCards[j].LstScrumActivity[k].CreatedTimestamp)
                                            @Html.HiddenFor(z => z.LstScrumColumns[i].LstScrumCards[j].LstScrumActivity[k].LastUpdatedTimestamp)
                                        }
                                    }

                                }
                            </div>


                            @*@Html.HiddenFor(m => m.LstScrumColumns[i].LstScrumCards[j].LstScrumChecklist, new { @class = "hfldLstScrumChecklist " + @uniqueCardName })*@
                        </div>
                    }
                }
            </div>
        }
    </div>
}

@helper CardColumn(int i)
{
    <div class="cell large-4">
        <div class="column-header" style="border-color: @Model.LstScrumColumns[i].ColumnColor;">
            @Model.LstScrumColumns[i].ColumnName (@Model.LstScrumColumns[i].LstScrumCards.Count)
        </div>

        <div class="sortable connectedSortable" data-column-id="@Model.LstScrumColumns[i].ColumnId">
            @{
                for (int j = 0; j < Model.LstScrumColumns[i].LstScrumCards.Count; j++)
                {
                    @Card(i, j)
                }
            }
        </div>

        <div class="add-new-card" data-column-id="@Model.LstScrumColumns[i].ColumnId" data-next-sort-index="@Model.LstScrumColumns[i].LstScrumCards.Count()">
            + Add New
        </div>

    </div>
}
@helper Card(int i, int j)
{
    string uniqueCardName = "card-" + @Model.LstScrumColumns[i].LstScrumCards[j].CardId;

    <div class="card bugout-bag" id="@uniqueCardName" data-card-id="@Model.LstScrumColumns[i].LstScrumCards[j].CardId" data-column-id="@Model.LstScrumColumns[i].LstScrumCards[j].StatusId" data-sort-id="@Model.LstScrumColumns[i].LstScrumCards[j].SortId">
        <div class="card-header">
            <div class="card-title">
                <span class="icon"><i class="fas fa-hiking text-center"></i></span>Categories
            </div>
        </div>
        <div class="card-content">
            <div class="title">
                @Model.LstScrumColumns[i].LstScrumCards[j].Title
            </div>
            <div class="content">
                @Model.LstScrumColumns[i].LstScrumCards[j].Description
            </div>
        </div>
        <div class="card-footer">

            @*Completion Date*@
            @if (Model.LstScrumColumns[i].LstScrumCards[j].CompletionDate != null)
            {
                <div class="date @Model.LstScrumColumns[i].LstScrumCards[j].ChecklistStatus">
                    <i class="far fa-calendar-alt"></i>
                    @Model.LstScrumColumns[i].LstScrumCards[j].CompletionDateString
                </div>
            }

            @*Activities*@
            @if (Model.LstScrumColumns[i].LstScrumCards[j].LstScrumActivity != null && Model.LstScrumColumns[i].LstScrumCards[j].LstScrumActivity.Count > 0)
            {
                <div class="comments">
                    <i class="far fa-comment-alt"></i>
                    @Model.LstScrumColumns[i].LstScrumCards[j].LstScrumActivity.Count()
                </div>
            }

            @*Checklist*@
            @if (Model.LstScrumColumns[i].LstScrumCards[j].LstScrumChecklist != null && Model.LstScrumColumns[i].LstScrumCards[j].LstScrumChecklist.Count > 0)
            {
                <div class="checklist @Model.LstScrumColumns[i].LstScrumCards[j].ActivityStatus">
                    <i class="fas fa-tasks"></i>
                    @Model.LstScrumColumns[i].LstScrumCards[j].CompletedChecklistItems/@Model.LstScrumColumns[i].LstScrumCards[j].TotalChecklistItems
                </div>
            }

        </div>
    </div>
}


@helper PnlAddCard()
{
    <div id="PnlAddCard" class="grid-x grid-padding-x grid-padding-y">
        <div class="cell">
            @Html.HiddenFor(m => m.AddCard, new { @class = "hfldAddCard" })
            @Html.HiddenFor(m => m.VirtualScrumCard.StatusId, new { @class = "hfldAddColumnId" })
            @Html.HiddenFor(m => m.VirtualScrumCard.SortId, new { @class = "hfldAddSortId" })

            <h2 class="text-right">New Card</h2>
            <br />

            <div class="grid-x grid-padding-x">
                <div class="cell large-6">&nbsp;</div>
                <div class="cell large-12 text-center">
                    <div class="mobile-app-toggle btns-new-card-type" data-mobile-app-toggle>
                        <input type="hidden" id="hfldCustomType" value="true" />
                        <a for="pnl-custom" class="button custom is-active">Custom</a>
                        <a for="pnl-predefined" class="button predefined">Predefined</a>
                    </div>
                </div>
            </div>
            <br />

            <div id="pnl-custom">
                <div class="grid-x grid-padding-x grid-margin-y">
                    <div class="cell large-8">
                        <h4>Card Title</h4>
                    </div>
                    <div class="cell large-16">
                        @Html.TextBoxFor(m => m.VirtualScrumCard.Title, new { @class = "hfldAddCardName" })
                    </div>
                </div>
                <div class="grid-x grid-padding-x grid-margin-y">
                    <div class="cell large-8">
                        <h4>Description</h4>
                    </div>
                    <div class="cell large-16">
                        @Html.TextAreaFor(m => m.VirtualScrumCard.Description, new { rows = "3" })
                    </div>
                </div>
                <div class="grid-x grid-padding-x grid-margin-y">
                    <div class="cell large-8">
                        <h4>Category</h4>
                    </div>
                    <div class="cell large-16 toolList">

                        @*public int ToolId { get; set; }*@

                        <div class="grid-x large-up-7 text-center">
                            <div class="cell">
                                <label>
                                    <input type="radio" name="tool" value="Clothing" checked />
                                    <i class="fas fa-tshirt" title="Clothing"></i>
                                </label>
                            </div>
                            <div class="cell">
                                <label>
                                    <input type="radio" name="tool" value="" />
                                    <i class="fas fa-mug-hot" title="Cooking &amp; Storage"></i>
                                </label>
                            </div>
                            <div class="cell">
                                <label>
                                    <input type="radio" name="tool" value="" />
                                    <i class="fab fa-gripfire" title="Fire Equipment"></i>
                                </label>
                            </div>
                            <div class="cell">
                                <label>
                                    <input type="radio" name="tool" value="" />
                                    <i class="fas fa-briefcase-medical" title="First Aid"></i>
                                </label>
                            </div>
                            <div class="cell">
                                <label>
                                    <input type="radio" name="tool" value="" />
                                    <i class="fas fa-utensils" title="Food &amp; Water"></i>
                                </label>
                            </div>
                            <div class="cell">
                                <label>
                                    <input type="radio" name="tool" value="" />
                                    <i class="fas fa-fish" title="Hunting &amp; Fishing"></i>
                                </label>
                            </div>
                            <div class="cell">
                                <label>
                                    <input type="radio" name="tool" value="" />
                                    <i class="fas fa-restroom" title="Hygiene"></i>
                                </label>
                            </div>
                            <div class="cell">
                                <label>
                                    <input type="radio" name="tool" value="" />
                                    <i class="fas fa-random" title="Miscellaneous"></i>
                                </label>
                            </div>
                            <div class="cell">
                                <label>
                                    <input type="radio" name="tool" value="" />
                                    <i class="fas fa-paw" title="Pets &amp; Animal Care"></i>
                                </label>
                            </div>
                            <div class="cell">
                                <label>
                                    <input type="radio" name="tool" value="" />
                                    <i class="fas fa-bolt" title="Power &amp; Fuel"></i>
                                </label>
                            </div>
                            <div class="cell">
                                <label>
                                    <input type="radio" name="tool" value="" />
                                    <i class="fas fa-shield-alt" title="Security &amp; Defense"></i>
                                </label>
                            </div>
                            <div class="cell">
                                <label>
                                    <input type="radio" name="tool" value="" />
                                    <i class="fas fa-campground" title="Shelter &amp; Camping"></i>
                                </label>
                            </div>
                            <div class="cell">
                                <label>
                                    <input type="radio" name="tool" value="" />
                                    <i class="fas fa-cross" title="Spiritual Needs"></i>
                                </label>
                            </div>
                            <div class="cell">
                                <label>
                                    <input type="radio" name="tool" value="" />
                                    <i class="fas fa-tools" title="Tools &amp; Hardware"></i>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>




            <div id="pnl-predefined">
                <div class="grid-x grid-padding-x">
                    <div class="cell large-8">
                        <h4>Select</h4>
                    </div>
                    <div class="cell large-16">
                        <select>
                            @foreach (ScrumCard _card in Model.LstPredefinedScrumCards)
                            {
                                <option value="@_card.Title">@_card.Title</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="grid-x grid-padding-x">
                <div class="cell large-6 large-offset-12">
                    <a class="button expanded large submit">Submit</a>
                </div>
                <div class="cell large-6">
                    <a class="button expanded large cancel">Cancel</a>
                </div>
            </div>
        </div>
    </div>
}
@helper PnlUpdateCard()
{
    <div id="PnlUpdateCard">
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell">
                <input type="hidden" id="HfldTemp_CardId" />
                <input type="hidden" id="HfldTemp_UniqueCardName" />

                <h2 class="text-right">Update Card</h2>
                <br />
                @*<div class="grid-x grid-padding-x grid-margin-y">
            <div class="cell large-8">
                <h4>Card Title</h4>
            </div>
            <div class="cell large-16">
                <input type="text" id="txbUpdateCardName" />
            </div>
        </div>
        <div class="grid-x grid-padding-x grid-margin-y">
            <div class="cell large-8">
                <h4>Description</h4>
            </div>
            <div class="cell large-16">
                <textarea Id="txbUpdateDescription" rows="3"></textarea>
            </div>
        </div>
        <div class="grid-x grid-padding-x grid-margin-y">
            <div class="cell large-8">
                <h4>Category</h4>
            </div>
            <div class="cell large-16 toolList">

                <div class="grid-x large-up-7 text-center">
                    <div class="cell">
                        <label>
                            <input type="radio" name="tool" value="Clothing" checked />
                            <i class="fas fa-tshirt" title="Clothing"></i>
                        </label>
                    </div>
                    <div class="cell">
                        <label>
                            <input type="radio" name="tool" value="" />
                            <i class="fas fa-mug-hot" title="Cooking &amp; Storage"></i>
                        </label>
                    </div>
                    <div class="cell">
                        <label>
                            <input type="radio" name="tool" value="" />
                            <i class="fab fa-gripfire" title="Fire Equipment"></i>
                        </label>
                    </div>
                    <div class="cell">
                        <label>
                            <input type="radio" name="tool" value="" />
                            <i class="fas fa-briefcase-medical" title="First Aid"></i>
                        </label>
                    </div>
                    <div class="cell">
                        <label>
                            <input type="radio" name="tool" value="" />
                            <i class="fas fa-utensils" title="Food &amp; Water"></i>
                        </label>
                    </div>
                    <div class="cell">
                        <label>
                            <input type="radio" name="tool" value="" />
                            <i class="fas fa-fish" title="Hunting &amp; Fishing"></i>
                        </label>
                    </div>
                    <div class="cell">
                        <label>
                            <input type="radio" name="tool" value="" />
                            <i class="fas fa-restroom" title="Hygiene"></i>
                        </label>
                    </div>
                    <div class="cell">
                        <label>
                            <input type="radio" name="tool" value="" />
                            <i class="fas fa-random" title="Miscellaneous"></i>
                        </label>
                    </div>
                    <div class="cell">
                        <label>
                            <input type="radio" name="tool" value="" />
                            <i class="fas fa-paw" title="Pets &amp; Animal Care"></i>
                        </label>
                    </div>
                    <div class="cell">
                        <label>
                            <input type="radio" name="tool" value="" />
                            <i class="fas fa-bolt" title="Power &amp; Fuel"></i>
                        </label>
                    </div>
                    <div class="cell">
                        <label>
                            <input type="radio" name="tool" value="" />
                            <i class="fas fa-shield-alt" title="Security &amp; Defense"></i>
                        </label>
                    </div>
                    <div class="cell">
                        <label>
                            <input type="radio" name="tool" value="" />
                            <i class="fas fa-campground" title="Shelter &amp; Camping"></i>
                        </label>
                    </div>
                    <div class="cell">
                        <label>
                            <input type="radio" name="tool" value="" />
                            <i class="fas fa-cross" title="Spiritual Needs"></i>
                        </label>
                    </div>
                    <div class="cell">
                        <label>
                            <input type="radio" name="tool" value="" />
                            <i class="fas fa-tools" title="Tools &amp; Hardware"></i>
                        </label>
                    </div>
                </div>

            </div>
        </div>
        <div class="grid-x grid-padding-x grid-margin-y">
            <div class="cell large-8">
                <h4>Due Date</h4>
            </div>
            <div class="cell large-10">
                <input type="date" id="txbUpdateDueDate" />
            </div>
            <div class="cell large-6">
                <br />
                <input type="checkbox" id="cbUpdateDueDateComplete"> <label style="color:white;" for="cbUpdateDueDateComplete">Complete</label>
            </div>
        </div>*@



                <div class="grid-x grid-padding-x grid-margin-y">
                    <div class="cell large-8">
                        <h4>Activities</h4>
                    </div>
                    <div class="cell large-16">
                        <div class="grid-x">
                            <div class="cell auto">
                                <textarea class="autosize" placeholder="Write a comment..."></textarea>
                            </div>
                            <div class="cell shrink text-center">
                                <a class="button">+</a>
                            </div>
                        </div>

                        <br />
                        <div style="border:1px solid darkgray; border-radius:3px;">
                            <div class="grid-x grid-margin-x grid-padding-x">
                                <div class="cell">
                                    <label style="color:white;">Label version of activity</label>
                                </div>
                            </div>
                            <div class="grid-x grid-margin-x grid-padding-x" style="font-size: 11px;">
                                <div class="cell shrink">
                                    <a>Edit</a> | <a>Delete</a>
                                </div>
                                <div class="cell auto text-right">
                                    <label style="font-size: 11px;color:darkgray">Oct 31, 2021 @@10:00am [edited]</label>
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class="grid-x">
                            <div class="cell">
                                <textarea class="autosize">Updated text here...</textarea>
                            </div>
                        </div>
                        <div class="grid-x" style="font-size: 11px;">
                            <div class="cell text-right">
                                <a>Save</a> | <a>Cancel</a>
                            </div>
                        </div>

                    </div>
                </div>















                


                <div class="grid-x grid-padding-x grid-margin-y">
                    <div class="cell large-8">
                        <h4>Checklist</h4>
                    </div>
                    <div class="cell large-16">

                        <div class="grid-x collapse">

                            <style>
                                #clProgressPercentage { font-size: 8px; vertical-align: super; }
                                #clProgressbar .ui-progressbar-value { background: darkorange; }
                            </style>

                            <div class="cell large-2">
                                <span id="clProgressPercentage">100%</span>
                            </div>
                            <div class="cell large-22">
                                <div id="clProgressbar" style="font-size:6px;"></div>
                            </div>
                        </div>


                        <br />
                        <div style="border:1px solid darkgray; border-radius:3px;font-size: 11px;">
                            <div class="grid-x align-middle ">
                                <div class="cell large-2 text-center">
                                    <input type="checkbox" style="margin: 0;" />
                                </div>
                                <div class="cell auto">
                                    <label style="color:white;">Checklist item 01</label>
                                </div>
                                <div class="cell shrink">
                                    <a>Edit</a> | <a>Delete</a>
                                </div>
                            </div>
                        </div>



                        <br />
                        <div class="grid-x">
                            <div class="cell">
                                <img alt="" src="~/images/temp/checklist.jpg" style="width:100%;height:auto;" />
                            </div>
                        </div>
                    </div>
                </div>






















                <br />
                <br />
                <div class="grid-x grid-padding-x">
                    <div class="cell large-6 large-offset-6">
                        <a class="button expanded large submit">Submit</a>
                    </div>
                    <div class="cell large-6">
                        <a class="button expanded large cancel">Cancel</a>
                    </div>
                    <div class="cell large-6">
                        <a class="button expanded large delete">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@helper PnlDeleteCard()
{
    <div id="PnlConfirmDeletion">
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell">
                <h2 class="text-right">Confirm Deletion</h2>
                <br />
                <br />

                <h3>Are you sure?</h3>
                <h4>This option is permenant and cannot be undone.</h4>
                <br />
                <br />
                <div class="grid-x grid-padding-x">
                    <div class="cell large-6 large-offset-12">
                        <a class="button expanded large cancel">Cancel</a>
                    </div>
                    <div class="cell large-6">
                        <a class="button expanded large delete">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

