@using Models;
@inherits UmbracoViewPage<Models.SearchList>



@if (Model.ShowResults)
{
    <div id="searchResults">

        <div class="searchParams">
            <h4>Searching For: <span class="dataValue">@Model.SearchFor</span></h4>
            <h4>Within: <span class="dataValue">@Model.SearchInTitle</span></h4>
            <br />
        </div>

        @{Html.RenderPartial("Partials/Common/Pagination", Model.Pagination); }

        @if (Model.ShowIlluminationStories)
        {
            <div class="illuminationList">
                <div class="storyList">
                    <div class="grid-x align-middle grid-padding-x story header hide-for-large">
                        <div class="cell auto text-center">
                            <h4>Illumination Story</h4>
                        </div>
                    </div>

                    <div class="grid-x align-middle grid-padding-x story header show-for-large">
                        <div class="cell shrink large-2">
                            <h4>Type</h4>
                        </div>
                        <div class="cell auto">
                            <h4>Title</h4>
                        </div>
                        <div class="cell shrink author">
                            <h4>Author</h4>
                        </div>
                    </div>

                    @if (Model.lstStoryLink.Any())
                    {
                        foreach (illuminationStoryLink illuminationStory in Model.lstStoryLink)
                        {
                            <a href="@illuminationStory.url" data-experiencetype="@illuminationStory.experienceType" data-nodeid="@illuminationStory.id">
                                <div class="grid-x align-middle grid-padding-x story">
                                    <div class="cell shrink large-2 text-center">
                                        @{
                                            switch (illuminationStory.experienceType)
                                            {
                                                case "Heavenly":
                                                    <img alt="" src="~/images/common/heavenly.png" />
                                                    break;
                                                case "Hellish":
                                                    <img alt="" src="~/images/common/hellish.png" />
                                                    break;
                                                case "Purgatorial":
                                                    <img alt="" src="~/images/common/purgatorial.png" />
                                                    break;
                                                default:
                                                    <img alt="" src="~/images/common/other-unsure.png" />
                                                    break;
                                            }
                                        }
                                    </div>
                                    <div class="cell auto">
                                        <h4>@illuminationStory.title</h4>
                                    </div>
                                    <div class="cell shrink author" data-memberid="@illuminationStory.memberId">
                                        @Html.Raw(illuminationStory.memberName)
                                    </div>
                                </div>
                            </a>
                        }
                    }
                    else
                    {
                        <h3 class="text-center">No records have been found</h3>
                    }
                </div>
            </div>
        }


        @if (Model.ShowMsgsFromHeaven)
        {
            <div class="visionaryMsgList">
                <div class="apparitionList">
                    <div class="grid-x align-middle grid-padding-x story header">
                        <div class="cell auto">
                            <h4>Title</h4>
                        </div>
                        <div class="cell shrink author">
                            <h4>Date</h4>
                        </div>
                    </div>

                    @if (Model.lstMsgsFromHeavenLinks.Any())
                    {
                        foreach (var msgLink in Model.lstMsgsFromHeavenLinks)
                        {
                            <a href="@msgLink.Url" data-nodeid="@msgLink.Id">
                                <div class="grid-x align-middle grid-padding-x story">
                                    <div class="cell auto">
                                        <h4>
                                            @msgLink.Subtitle
                                            <span> » </span>
                                            @msgLink.Title
                                        </h4>
                                    </div>
                                    <div class="cell shrink author">
                                        @msgLink.Dates
                                    </div>
                                </div>
                            </a>
                        }
                    }
                    else
                    {
                        <h3 class="text-center">No records have been found</h3>
                    }

                </div>
            </div>
        }


        @*@if (Model.ShowPrayers)
            {
                if (Model.lstPrayerLinks.Any())
                {
                    <div class="listView">

                        @foreach (var prayerLink in Model.lstPrayerLinks)
                        {
                            <div class="grid-x align-top listViewItem" data-equalizer="listViewItem">
                                <div data-equalizer-watch="listViewItem" class="cell show-for-large large-6 prayerCandlePnl">
                                    <img alt="Lit Candle" src="@prayerLink.CandleUrl" />
                                    <input type="hidden" class="hfldcurrentPercentage" value="@prayerLink.currentPercentage" />
                                </div>
                                <div data-equalizer-watch="listViewItem" class="cell auto large-offset-1" style="position: relative;">
                                    <h3><a href="@prayerLink.Url">@prayerLink.Title</a></h3>
                                    <h4><a href="@prayerLink.Url">By: @Html.Raw(prayerLink.MemberName)</a></h4>
                                    <hr>
                                    <div class="limitText">
                                        @prayerLink.PrayerSummary
                                    </div>

                                    <br />
                                    <div class="grid-x align-bottom align-self-bottom" style="position: absolute;bottom: 0;left: 0;right: 0;">
                                        <div class="small-12 text-left"><h5><a href="@prayerLink.Url">Read More »</a></h5></div>
                                        <div class="small-12 text-right">@(prayerLink.Date.ToString("MMMM d, yyyy"))</div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <h3 class="text-center">No records have been found</h3>
                }
            }*@


        @if (Model.ShowArticles)
        {
            <div class="visionaryMsgList">
                <div class="apparitionList">
                    <div class="grid-x align-middle grid-padding-x story header">
                        <div class="cell text-center medium-text-left">
                            <h4>Articles</h4>
                        </div>
                    </div>

                    @if (Model.lstArticleLinks.Any())
                    {
                        foreach (var articleLink in Model.lstArticleLinks)
                        {
                            <a href="@articleLink.Url" data-nodeid="@articleLink.Id">
                                <div class="grid-x align-middle grid-padding-x story">
                                    <div class="cell text-center medium-text-left">
                                        <h4>@Html.Raw(articleLink.Breadcrumb)</h4>
                                    </div>
                                </div>
                            </a>
                        }
                    }
                    else
                    {
                        <h3 class="text-center">No records have been found</h3>
                    }

                </div>
            </div>
        }


        @if (Model.ShowBible)
        {
            <div class="visionaryMsgList">
                <div class="apparitionList">
                    <div class="grid-x align-middle grid-padding-x story header">
                        <div class="cell">
                            <h4>Breadcrumb</h4>
                        </div>
                    </div>

                    @if (Model.lstBibleLinks.Any())
                    {
                        foreach (var bibleLink in Model.lstBibleLinks)
                        {
                            <a href="@bibleLink.Url" data-nodeid="@bibleLink.Id">
                                <div class="grid-x align-middle grid-padding-x story">
                                    <div class="cell">
                                        <h4>@Html.Raw(bibleLink.Breadcrumb)</h4>
                                    </div>
                                </div>
                            </a>
                        }
                    }
                    else
                    {
                        <h3 class="text-center">No records have been found</h3>
                    }

                </div>
            </div>
        }


        <br />
        <br />
        @{Html.RenderPartial("Partials/Common/Pagination", Model.Pagination); }
    </div>
}
else
{
    //Display instructions message
    IPublishedContent ipSearch = Umbraco.Content((int)(Common.siteNode.Search));
    <div>
        @Html.GetGridHtml(ipSearch, Common.NodeProperties.content, Common.miscellaneous.Foundation6)
    </div>

}
