@inherits UmbracoViewPage<Models.BarChart>


<div id="filterExperienceTypes" class="grid-x grid-padding-x">
    <div class="cell large-6 text-center">
        <ul class="filters">
            <li class="active" data-show="chart-heavenly"><h5>Heavenly</h5></li>
        </ul>
    </div>
    <div class="cell large-6 text-center">
        <ul class="filters">
            <li class="" data-show="chart-hellish"><h5>Hellish</h5></li>
        </ul>
    </div>
    <div class="cell large-6 text-center">
        <ul class="filters">
            <li class="" data-show="chart-purgatorial"><h5>Purgatorial</h5></li>
        </ul>
    </div>
    <div class="cell large-6 text-center">
        <ul class="filters">
            <li class="" data-show="chart-other"><h5>Other/Unsure</h5></li>
        </ul>
    </div>
</div>



<br />
<div id="canvasList" class="grid-x grid-margin-x grid-margin-y">
    <div class="cell">
        <canvas class="" id="chart-heavenly"></canvas>
        <canvas class="hide" id="chart-hellish"></canvas>
        <canvas class="hide" id="chart-purgatorial"></canvas>
        <canvas class="hide" id="chart-other"></canvas>
    </div>
</div>


<script>
    $(document).ready(function () {
        //Variables
        var colorMale = "rgba(55,111,148,.7)";
        var colorFemale = "rgba(116,1,10,.7)";

        //Convert data into variables usable by chart
        var labels = JSON.parse(@Html.Raw(Json.Encode(Model.jsonLabels)));
        var values_Heavenly_Males = JSON.parse(@Html.Raw(Json.Encode(Model.jsonValues_Heavenly_Males)));
        var values_Heavenly_Females = JSON.parse(@Html.Raw(Json.Encode(Model.jsonValues_Heavenly_Females)));
        var values_Hellish_Males = JSON.parse(@Html.Raw(Json.Encode(Model.jsonValues_Hellish_Males)));
        var values_Hellish_Females = JSON.parse(@Html.Raw(Json.Encode(Model.jsonValues_Hellish_Females)));
        var values_Purgatorial_Males = JSON.parse(@Html.Raw(Json.Encode(Model.jsonValues_Purgatorial_Males)));
        var values_Purgatorial_Females = JSON.parse(@Html.Raw(Json.Encode(Model.jsonValues_Purgatorial_Females)));
        var values_Other_Males = JSON.parse(@Html.Raw(Json.Encode(Model.jsonValues_Other_Males)));
        var values_Other_Females = JSON.parse(@Html.Raw(Json.Encode(Model.jsonValues_Other_Females)));


        //Create charts
        new Chart(document.getElementById("chart-heavenly"), {
            type: 'horizontalBar',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "Male",
                        backgroundColor: colorMale,
                        data: values_Heavenly_Males
                    }, {
                        label: "Female",
                        backgroundColor: colorFemale,
                        data: values_Heavenly_Females
                    }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Heavenly Experiences'
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        new Chart(document.getElementById("chart-hellish"), {
            type: 'horizontalBar',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "Male",
                        backgroundColor: colorMale,
                        data: values_Heavenly_Males
                    }, {
                        label: "Female",
                        backgroundColor: colorFemale,
                        data: values_Hellish_Females
                    }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Hellish Experiences'
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        new Chart(document.getElementById("chart-purgatorial"), {
            type: 'horizontalBar',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "Male",
                        backgroundColor: colorMale,
                        data: values_Heavenly_Males
                    }, {
                        label: "Female",
                        backgroundColor: colorFemale,
                        data: values_Purgatorial_Females
                    }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Purgatorial Experiences'
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        new Chart(document.getElementById("chart-other"), {
            type: 'horizontalBar',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "Male",
                        backgroundColor: colorMale,
                        data: values_Heavenly_Males
                    }, {
                        label: "Female",
                        backgroundColor: colorFemale,
                        data: values_Other_Females
                    }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Other Experiences'
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

    });
</script>