@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<BillboardWithForm>>
@{
    //Format overlay color(s)
    string overlayColor = "";
    if (!string.IsNullOrWhiteSpace(Model.Content.OverlayColor))
    {
        overlayColor = string.Format("background-color: {0} !important;", Model.Content.OverlayColor);
    }
    if (!string.IsNullOrWhiteSpace(Model.Content.OverlayGradientColorA) && !string.IsNullOrWhiteSpace(Model.Content.OverlayGradientColorB))
    {
        overlayColor = string.Format("background: linear-gradient(90deg, {0}, {1});", Model.Content.OverlayGradientColorA, Model.Content.OverlayGradientColorB);
    }

    string bgColor = "";
    if (!string.IsNullOrWhiteSpace(Model.Content.BackgroundColor))
    {
        bgColor = string.Format("background-color: {0} !important;", Model.Content.BackgroundColor);
    }
}




<section  style="@bgColor" data-blockgrid="blockgrid/Components/billbaordWithForm" class="billbaordWithForm    @Html.Raw(Model.Content?.OuterMostClass)" @Html.Raw(Model.Content?.OuterMostAttributes)>
    @Html.Raw(Model.Content.CustomScripts)

    @if (Model.Content.BackgroundImage != null)
    {
        <img alt="" src="@Model.Content.BackgroundImage.Url()" class="bgImg" />
    }
    <div class="bgImgOverlay" style="@overlayColor"></div>


    <div class="grid-x grid-padding-x interior-wrap   @Html.Raw(Model.Content?.ContainerClasses)" @Html.Raw(Model.Content?.ContainerAttributes)>
        <div class="cell laptop-12 left-side">
            <div class="grid-x">
                <div class="cell left-side-interior ">  @* large-14 large-offset-10  *@
                    @Html.Raw(Model.Content.LeftContent)
                </div>
            </div>
        </div>
        <div class="cell laptop-12 right-side">
            <div class="bgSkewColor" style="@bgColor"></div>
            <div class="grid-x">
                <div class="cell right-side-interior">  @* large-14 *@
                    @Html.Raw(Model.Content.RightContent)
                </div>
            </div>
        </div>
    </div>
</section>