@using ContentModels = Umbraco.Web.PublishedContentModels;

@inherits UmbracoViewPage<Models.PrayerRequestModel>


@{ 
    //Get url for the cancel button
    String parentUrl = Umbraco.TypedContent((int)(Models.Common.siteNode.PrayerRequests)).Url;
}


@using (Html.BeginUmbracoForm<Controllers.PrayerController>("UpdatePrayerRequest", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)


    <div id="pnlEditPrayer" class="">
        <h3>Edit Prayer Request</h3>
        <div class="form grid-x grid-padding-x">
            <div class="cell">
            <div class="grid-x grid-padding-x">
                <div class="cell large-16">
                    <p><strong>One Moment!!!</strong>   Need to edit your prayer?  No problem, updates are expected.  But keep in mind, if the edited prayers are too different from the previous version, it may be better to simply add a new prayer request.</p>
                </div>
                <div class="cell large-8 experiencePnl">
                    <h4 class="text-center">Pledges</h4>
                     <div class="text-center dataType">@Model.totalPrayersOffered.ToString()</div>
                    <br />

                </div>
            </div>
            
                <br />
                <div class="grid-x grid-padding-x">
                    <div class="cell large-12">
                        <h4>Prayer Title</h4>
                    </div>
                    <div class="cell large-12 text-right">
                        <h6 class="text-right">@Html.ValidationMessageFor(m => m.PrayerTitle)</h6>
                    </div>
                    <div class="cell">
                        @Html.TextBoxFor(m => m.PrayerTitle)
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="cell large-12">
                        <h4>@Html.DisplayNameFor(m => m.Prayer)</h4>
                    </div>
                    <div class="cell large-12 text-right">
                        <h6 class="text-right">@Html.ValidationMessageFor(m => m.Prayer)</h6>
                    </div>
                    <div class="cell">
                        @Html.TextAreaFor(m => m.Prayer, 12, 20, null)
                    </div>
                </div>

                <br />
                <br />

                <div class="grid-x grid-margin-x grid-x">
                    <div class="cell large-12">
                        <input type="submit" name="Submit" title="Submit" class="button expanded primary" />
                    </div>
                    <div class="cell large-12">
                        <a class="button primary expanded" href="@parentUrl">Cancel</a>
                    </div>
                </div>



                <br />
                <br />
                <br />
                <div class="grid-x">
                    <div class="cell">
                        @Html.ValidationSummary()
                    </div>
                </div>


            </div>
        </div>
    </div>
}