@using Models;
@inherits UmbracoViewPage<Models.PrayerList>


@{
    string managerPrayersUrl = Umbraco.TypedContent((int)Common.siteNode.PrayerRequests).Url;
}

<div>
    <h3 class="noTopMarginHeader">Latest Prayer Requests</h3>
    <p>
        Want to submit your own prayer request?  It's easy.  Just log into your account and <a href="@managerPrayersUrl">Manage your Prayer Requests</a>.
    </p>
    <br />

    @{Html.RenderPartial("Partials/Common/Pagination", Model.Pagination); }

    <div class="listView">

        @foreach (var prayerLink in Model.lstPrayerLinks)
        {
            @*<div class="grid-x align-top listViewItem" data-equalizer="listViewItem">
                    <div data-equalizer-watch="listViewItem" class="cell large-6">
                        <img alt="Lit Candle" src="@prayerLink.CandleUrl" />
                        <input type="hidden" class="hfldcurrentPercentage" value="@prayerLink.currentPercentage" />
                    </div>
                    <div data-equalizer-watch="listViewItem" class="cell large-17 large-offset-1" style="position: relative;">
                        <h3><a href="@prayerLink.Url">@prayerLink.Title</a></h3>
                        <h4><a href="@prayerLink.Url">By: @Html.Raw(prayerLink.MemberName)</a></h4>
                        <hr>
                        <div class="limitText">
                            @prayerLink.PrayerSummary
                        </div>

                        <br />
                        <div class="grid-x align-bottom align-self-bottom" style="position: absolute;bottom: 0;left: 0;right: 0;">
                            <div class="small-12 text-left"><h5><a href="@prayerLink.Url">Read More »</a></h5></div>
                            <div class="small-12 text-right">@(prayerLink.Date.ToString("MMMM d, yyyy"))</div>
                        </div>
                    </div>
                </div>*@
            <div class="grid-x align-top listViewItem" data-equalizer="listViewItem">
                <div data-equalizer-watch="listViewItem" class="cell show-for-large large-6 prayerCandlePnl">
                    <img alt="Lit Candle" src="@prayerLink.CandleUrl" />
                    <input type="hidden" class="hfldcurrentPercentage" value="@prayerLink.currentPercentage" />
                </div>
                <div data-equalizer-watch="listViewItem" class="cell auto large-offset-1" style="position: relative;">
                    <h3><a href="@prayerLink.Url">@prayerLink.Title</a></h3>
                    <h4><a href="@prayerLink.Url">By: @Html.Raw(prayerLink.MemberName)</a></h4>
                    <hr>
                    <div class="limitText">
                        @prayerLink.PrayerSummary
                    </div>

                    <br />
                    <div class="grid-x align-bottom align-self-bottom" style="position: absolute;bottom: 0;left: 0;right: 0;">
                        <div class="small-12 text-left"><h5><a href="@prayerLink.Url">Read More »</a></h5></div>
                        <div class="small-12 text-right">@(prayerLink.Date.ToString("MMMM d, yyyy"))</div>
                    </div>
                </div>
            </div>
        }
    </div>


    <br />
    <br />
    @{Html.RenderPartial("Partials/Common/Pagination", Model.Pagination); }

</div>