@model Core.Models.Contact
@using Umbraco.Extensions


<article class="content contact white-bg" id="chapterContact">
    <div class="inner">
        <h2>Contact</h2>
        <div class="title-divider"></div>

        @Html.Raw(Model.Summary)


        <div class="contact-con">
            <div class="container-sub">
                <div class="row">
                    <div class="contact-form">
                        <h3>Drop Me a Line</h3>

                        @using (Html.BeginUmbracoForm<Core.Controllers.ContactMeController>(nameof(Core.Controllers.ContactMeController.Postback)))
                        {
                            <div class="formulate-wrapper">

                                <div class="formulate__row">
                                    <div class="formulate__cell formulate__cell--6-columns">
                                        <div class="formulate__field formulate__field--text">
                                            @Html.TextBoxFor(m => m.Name, new { required = "required", placeholder = "Your Name..." })
                                        </div>
                                    </div>
                                    <div class="formulate__cell formulate__cell--6-columns">
                                        <div class="formulate__field formulate__field--text">
                                            @Html.TextBoxFor(m => m.Email, new { required = "required", placeholder = "Your Email..." })
                                        </div>
                                    </div>
                                </div>
                                <div class="formulate__row">
                                    <div class="formulate__cell formulate__cell--12-columns">
                                        <div class="formulate__field formulate__field--textarea">
                                            @Html.TextAreaFor(m => m.Message, 6, 20, new { required = "required", placeholder = "Your Message..." })
                                        </div>
                                    </div>
                                </div>
                                <div class="hide">
                                    <br />
                                    If you see this, leave this form field blank and invest in CSS support!
                                    @Html.TextBoxFor(m => m.Subject)
                                </div>
                                <div class="formulate__row">
                                    <div class="formulate__cell formulate__cell--12-columns">
                                        <div class="formulate__field formulate__field--button">
                                            <button type="submit">Say Hello!</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
