@model Core.Models.Portfolio



<article class="content portfolio white-bg" id="chapterPortfolio">
    <div class="inner">
        <h2>Portfolio</h2>
        <div class="title-divider"></div>
        <div class="portfolio-con">
            <div class="container-sub margin-top50">
                <div class="row">
                    <div id="grid-gallery" class="grid-gallery">
                        <section class="grid-wrap">
                            <ul class="grid">
                                @foreach (Core.Models.Project project in Model.LstProjects)
                                {
                                    <li>
                                        <figure>
                                            <img alt="@project.ProjectLink.Title" src="@project.ScreenshotUrl" />
                                            <figcaption>
                                                <div class="figcaption-details">
                                                    <img src="/images/icon-plus.png" height="82" width="82" alt="" />
                                                    <h3>@project.ProjectLink.Title</h3>
                                                    <span>@project.ProjectLink.Url</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </li>
                                }
                            </ul>
                        </section>

                        <!-- Lightbox Popup -->
                        <section class="slideshow">
                            <ul>

                                @foreach (Core.Models.Project project in Model.LstProjects)
                                {
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>@project.ProjectLink.Title</h3>
                                                <span><a target="_blank" href="@project.ProjectLink.Url">@project.ProjectLink.Url</a></span>
                                                <p>@Html.Raw(@project.Summary)</p>
                                            </figcaption>
                                            <div class="owl-carousel">
                                                @if (@project.LstCarouselShots.Any())
                                                {
                                                    foreach (Core.Models.Link link in project.LstCarouselShots)
                                                    {
                                                        <div class="item">
                                                            <img src="@link.Url" alt="@link.AltText" />
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </figure>
                                    </li>
                                }
                            </ul>
                            <nav> <span class="fa nav-prev"></span> <span class="fa nav-next"></span> <span class="fa nav-close"></span> </nav>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
